<!DOCTYPE html>
<html>
<head>
	<title>Add Plan</title>
</head>
<body>

<a href="/travels">Home</a><br>
<a href="/logout">Logout</a><br>
<h3>Add a Trip</h3>

{% if messages %}
	{% for message in messages %}
		<p>{{ message }}</p>
	{% endfor %}
{% endif %}




<form action="/insert" method="post">
{% csrf_token %}

Destination:<br>
<input type="text" name="destination"><br>
Description:<br>
<input type="text" name="description"<br><br>
Travel Date From:<br>
<input type="date" name="datefrom"><br>
Travel Date To:<br>
<input type="date" name="dateto"><br>

<button>Add</button>

</form>
</body>
</html>